.item {
  font-size: 1.8rem;
  margin-left: 0.8rem;
}

.active {
  font-weight: bold;
  font-size: 1.8rem;
}
.folder-icon {
  display: inline-block;
  width: 7.4rem;
  height: 7.4rem;
  background-size: cover;
}
.closed {
  background-image: url("../../assets/img/closed-folder.ico");
}
.opened {
  background-image: url("../../assets/img/opened-folder.ico");
}
.show ul li {
  display: block;
  padding-left: 1.8rem;
}
.hide ul li {
  display: none;
}
