.item {
  font-size: 1.8rem;
  margin-left: 0.8rem;
}
.item img {
  cursor: pointer;
}
.open {
  background-image: url("../../assets/img/opened-folder.ico");
}
.children {
  padding-left: 2.4rem;
}
.show {
  display: block;
}

.hide {
  display: none;
}
