.menu {
  max-width: 100%;
  margin: 1.2rem;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  cursor: pointer;
  color: #222;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  background-image: linear-gradient(
    to right top,
    rgba(211, 200, 169, 0.7),
    rgb(63, 53, 53)
  );
  box-shadow: 0 0.1rem 0.5rem rgba(119, 119, 119, 0.5);
}

.menu-item:hover {
  background-color: rgb(75, 145, 75);
  animation: move-shadow 1.5s forwards;
}
@keyframes move-shadow {
  100% {
    box-shadow: 0 0 5rem 2rem rgba(119, 119, 119, 0);
  }
}
.menu-item span {
  font-size: 1.4rem;
  margin-left: 0.8rem;
}
