.item {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 3.2rem;
}
.item img {
  cursor: pointer;
  margin-right: 6.4rem;
  margin-bottom: 1.6rem;
}
.item img:last-child {
  margin-right: 0;
}
.title {
  text-align: center;
}
