.form {
  position: relative;
  padding: 1.2rem;
}
.title {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 0.8rem;
}
.form-btn {
  display: flex;
  justify-content: flex-end;
}
.control {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
}
.control label {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
.control input {
  height: 4rem;
}
.control input {
  font: inherit;
  font-size: 1.8rem;
  color: #555;
  padding: 0.35rem;
  border-radius: 0.4rem;
  background-image: linear-gradient(
    to right top,
    rgba(255, 255, 255, 0.9),
    rgba(211, 200, 169, 0.7)
  );
  border: 1px solid #aaa;
  display: block;
  width: 100%;
}
.control input:focus {
  background-color: #eee;
  outline-color: #777;
}
.invalid input {
  background-image: linear-gradient(
    to right top,
    rgba(255, 255, 255, 0.9),
    rgba(255, 0, 0, 0.5)
  );
  border: 1px solid rgb(255, 0, 0);
}
.invalid input:focus {
  background-image: linear-gradient(
    to right top,
    rgba(255, 255, 255, 0.9),
    rgb(255, 251, 244)
  );
  border: 1px solid rgb(255, 0, 0);
}
.error-text {
  color: rgb(255, 0, 0);
  font-size: 1.4rem;
  margin-top: 0.8rem;
}
.auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth-link {
  font-size: 1.6rem;
}
.auth-link a {
  color: rgb(104, 90, 70);
}
